DATABASE_URL="postgres://postgres:postgres@localhost:5432/decentrapay"
JWT_SECRET="super-secret-jwt-key-for-dev-only-change-in-prod"
PORT=3001

# Blockchain
# When using hardhat local node, this is usually what it's deployed to
RPC_URL="http://127.0.0.1:8545"

# The private key for your deployer/admin account 
# (Account #0 on local hardhat node)
PRIVATE_KEY="0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"

# Address of Registry & Marketplace after deployment
REGISTRY_ADDRESS=""
MARKETPLACE_ADDRESS=""
